* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body {
    font-family: $fuente-tech;
    font-weight: bold;
    font-style: normal;
    background-color: #00030a;
    background-image: linear-gradient(180deg, #00030a 0%, #0a0000 24%, #0a0018 49%, #0e0000 75%, #000000 100%);
}

